variables:
  - group: VST2_SDK

jobs:
- job: linux
  pool:
    vmImage: 'Ubuntu-16.04'
  steps:
  - script: |
      sudo add-apt-repository ppa:ubuntu-toolchain-r/test
      sudo apt-get update
      sudo apt-get install -y gcc-6 g++-6 freeglut3-dev g++ libasound2-dev libcurl4-openssl-dev libfreetype6-dev libjack-jackd2-dev libx11-dev libxcomposite-dev libxcursor-dev libxinerama-dev libxrandr-dev mesa-common-dev ladspa-sdk webkit2gtk-4.0 libgtk-3-dev xvfb
    displayName: 'Apt install dependencies'
  - script: |
      Xvfb :99 &
      export DISPLAY=:99
      sleep 3 # give xvfb some time to start
      install/linux_build
    displayName: 'Linux Build'
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'Linux'
      targetPath: 'bin/linux'
  - script: |
      rm bin/linux/*
      cp CHANGELIST.md bin/linux
    displayName: 'Copy change list to bin'    
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'Change List'
      targetPath: 'bin/linux'
- job: macOS
  pool:
    vmImage: 'macOS-10.13'
  steps:
  - script: tests/mac_tests
    displayName: 'macOS Build'
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'macOS'
      targetPath: 'bin/mac'
- job: windows
  pool:
    vmImage: 'vs2017-win2016'
  steps:
  - script: |
      set MSBUILD_EXE=C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\MSBuild.exe
      tests/windows_tests
    displayName: 'Windows Build'
  - task: PublishPipelineArtifact@0
    inputs:
      artifactName: 'Windows'
      targetPath: 'bin/windows'
